/* Will be compiled down to a single stylesheet with your sass files */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.board {
  position: relative;
}

.map-cell, .structure-wrapper, .tile {
  position: absolute;
  width: 32px;
  height: 32px;
}

.map-cell:hover{
  background-color: red;
  opacity: 0.1;
}

.tile, .structure {
  background-image: url('../images/magecity_0.png');
  width: 32px;
  height: 32px;
  background-position: 9999px 9999px;
  background-repeat: no-repeat;
}

.actor-power {
  background-position: -96px 0;
}
.actor-water {
  position: relative;
}
.actor-water .water-drop {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 5px;
  height: 5px;
  background: blue;
}
.actor-garbage {
  background: green;
  opacity: 0.1;
}

.powerplant {
  background: yellow;
}

.house {
  position: relative;
}

.house .tile{
  position: absolute;
}

.house-roof-top-left {
  top: -96px;
  background-position: 0 -736px;
}
.house-roof-top-right {
  top: -96px;
  left: 32px;
  background-position: -64px -736px;
}
.house-roof-bottom-left {
  top: -64px;
  background-position: 0 -768px;
}
.house-roof-bottom-right {
  top: -64px;
  left: 32px;
  background-position: -64px -768px;
}
.house-base-top-left {
  top: -32px;
  background-position: 0 -800px;
}
.house-base-top-right {
  top: -32px;
  left: 32px;
  background-position: -64px -800px;
}
.house-base-bottom-left {
  background-position: -32px -768px;
}
.house-base-bottom-right {
  left: 32px;
  background-position: -32px -768px;
}

.waterpump {
  background: blue;
}

.garbagedump {
  background: green;
}

.house-state{
  width: 5px;
  height: 5px;
  position: absolute;
  top: 0;
}

.house-state.unpowered {
  right: 0;
  background-color: red;
}

.house-state.unwatered {
  right: 5px;
  background-color: blue;
}

.selected-true {
  border: 2px solid green;
}

.selected-false {
  border: 2px solid #eee;
}

.grass {
  background-position: 0 0;
}
.road {
  background-color: transparent;
  background-position: -32px 0;
}

.toolbox {
  right: 0;
  position: absolute;
  width: 200px;
}

.toolbox ul{
  padding: 0;
}

.object-types li{
  display: inline-block;
  list-style-type: none;
  width: 32px;
  height: 32px;
  margin-right: 1em;
}

.object-types li a{
  width: 32px;
  height: 32px;
  display: block;
}

.object-types li a span{
  visibility: hidden;
}

.tools li{
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
}

.tools li a{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: 50% 50%;
}
.tools li.selected-true{
  background-color: #eee;
}

.tools li a span{
  visibility: hidden;
}

.tools a.build{
  background-image: url('../images/glyphicons_free/glyphicons_375_classic_hammer.png');
  background-repeat: no-repeat;
}

.tools a.remove{
  background-image: url('../images/glyphicons_free/glyphicons_207_remove_2.png');
  background-repeat: no-repeat;
}
