/* Will be compiled down to a single stylesheet with your sass files */
.board {
  position: relative;
}
.structure {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ddd;
}

.actor-power {
  background: yellow;
}

.powerplant {
  background: #bbb;
}
