<div class="hero-unit">
  <span>{{structures.length}} structures exist</span>
  <div class='toolbox'>
    <h3>Pick your tool</h3>
    <ul class='tools'>
      <li ng-repeat="tool in tools" class='selected-{{tool.selected}}'>
        <a ng-click='setTool(tool)' class='{{tool.name}}'><span>{{tool.name}}</span></a>
      </li>
    </ul>
    <div ng-switch on="selectedTool.name">
      <div ng-switch-when="build">
        <h3>Pick your object type</h3>
        <ul class='object-types'>
          <li  ng-repeat="objectType in objectTypes"
          class='selected-{{objectType.selected}} structure {{objectType.name}}'>
            <a ng-click='setObjectType(objectType)' title='{{objectType.name}}'><span>{{objectType.name}}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='board'>
    <div ng-repeat="mapCell in mapCells" style='top: {{mapCell.y *
      32}}px; left: {{mapCell.x * 32}}px;' class='tile grass'></div>
    <div class='structure-wrapper' ng-repeat='structure in structures' style='top: {{structure.y * 32}}px; left:
      {{structure.x * 32}}px;' data-id={{structure.id}} ng-switch on="structure.type">
      <div ng-switch-when="structure-road" class='structure road'></div>
      <div ng-switch-when="powerplant" class='structure powerplant'></div>
      <div ng-switch-when="waterpump" class='structure waterpump'></div>
      <div ng-switch-when="actor-water" class='structure actor-water'>
        <div class='water-drop'></div>
      </div>
      <div ng-switch-when="actor-garbage" class='structure actor-garbage'></div>
      <div ng-switch-when="actor-power" class='structure actor-power'>
        <div class='power-drop'></div>
      </div>
      <div ng-switch-when="house" class='structure house'>
        <div class='tile house-roof-top-left'></div>
        <div class='tile house-roof-top-right'></div>
        <div class='tile house-roof-bottom-left'></div>
        <div class='tile house-roof-bottom-right'></div>
        <div class='tile house-base-top-left'></div>
        <div class='tile house-base-top-right'></div>
        <div class='tile house-base-bottom-left'></div>
        <div class='tile house-base-bottom-right'></div>
        <div class='house-state unpowered' ng-hide='structure.powered'></div>
        <div class='house-state unwatered' ng-hide='structure.watered'></div>
      </div>
      <div ng-switch-default></div>
    </div>
    <a ng-repeat="mapCell in mapCells" style='top: {{mapCell.y *
      32}}px; left: {{mapCell.x * 32}}px;' class='map-cell tile'
      ng-click='executeTool(mapCell.x,mapCell.y)'></a>
  </div>
</div>
