<div class="hero-unit">
  <span>{{structures.length}} structures exist</span>
  <a href='#' ng-click='addObject(4, 5)'>Add Power Plant</a>
  <div class='board'>
    <div ng-repeat="structure in structures">
      <div style='top: {{structure.y * 20}}px; left:
        {{structure.x * 20}}px;' data-id={{structure.id}} class='structure
        {{structure.type}}'>
      </div>
    </div>
    <div ng-repeat="mapCell in mapCells">
      <a href='#' style='top: {{mapCell.y * 20}}px; left: {{mapCell.x * 20}}px;' class='map-cell' ng-click='addObject(mapCell.x,mapCell.y)'></a>
    </div>
  </div>
</div>
